body{
    margin: 0px;
}
ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

<<<<<<< HEAD
.logo{
    height: 70px;
=======
.logo {
    height: 23px;
}

.mainButton {
    background-color: #1bb76e;
    color: white;
    border: 0px;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bolder;
    box-shadow: 1px 1px green;
}

.mainButton:hover {
    cursor: pointer;
    box-shadow: 3px 3px;
    transform: scale(1.1);
>>>>>>> 5-crear-boton-nuevo-post
}